/******************************* TAG SELECTORS ******************************/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 1.5;
  margin: 50px auto 0 auto;
  color:  #66BFBF;
}

/*
100% = 1 em =  16px
use always: rem
*/

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; /*2.5*/
  /*font-weight: normal;*/
  padding-bottom: 10px;
  color:  #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

/*
body {
 font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}
*/

hr{
  /* Style color border-width*/
  border: dotted #b9d7ea 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

/****************************** CLASS SELECTORS ****************************/
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top:100px;
}

.middle-container{
  margin: 100px 0 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.city{
  position: relative;
  bottom: -6px;
  /*****************/
  height: 350px;
  width: 350px;
  /****************/
}

.profilephoto{
  height: 200px;
  width: 200px;
}

.intro{
  width: 30%;
  margin: auto; /*We center the text*/
}

.skill1-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.positive{
  margin-top: 150px;
}

.skill2-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill2-paragraph{
  margin-bottom: 120px;
}


.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
   background: #39A2DB;
   background-image: -webkit-linear-gradient(top, #39A2DB, #39A2DB);
   background-image: -moz-linear-gradient(top, #39A2DB, #39A2DB);
   background-image: -ms-linear-gradient(top, #39A2DB, #39A2DB);
   background-image: -o-linear-gradient(top, #39A2DB, #39A2DB);
   background-image: -webkit-gradient(to bottom, #39A2DB, #39A2DB);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 20px;
   font-weight: 200;
   padding: 13px;
   -webkit-box-shadow: 0 0 0 0 #000000;
   -moz-box-shadow: 0 0 0 0 #000000;
   box-shadow: 0 0 0 0 #000000;
   text-shadow: 0 1px 20px #A2DBFA;
   border: solid #39A2DB 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #39A2DB 1px;
   background: #39A2DB;
   background-image: -webkit-linear-gradient(top, #39A2DB, #A2DBFA);
   background-image: -moz-linear-gradient(top, #39A2DB, #A2DBFA);
   background-image: -ms-linear-gradient(top, #39A2DB, #A2DBFA);
   background-image: -o-linear-gradient(top, #39A2DB, #A2DBFA);
   background-image: -webkit-gradient(to bottom, #39A2DB, #A2DBFA);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.programmer{
  padding-bottom: 25px;
}

/*
.skill2-paragraph{
  clear: right;
}
*/

/******************************* ID SELECTORS ******************************/
